@page "{id}"
@model ZelisTrainingRazorWebApp.Pages.Trainings.DeleteModel
@{
}
<h2>Delete Training</h2>
<p><strong>ID:</strong> @Model.Training.TrainingId</p>
<p><strong>Trainer ID:</strong> @Model.Training.TrainerId</p>
<p><strong>Technology ID:</strong> @Model.Training.TechnologyId</p>
<p><strong>Start Date:</strong> @Model.Training.StartDate.ToShortDateString()</p>
<p><strong>End Date:</strong> @Model.Training.EndDate.ToShortDateString()</p>

<form method="post">
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
<a href="/Trainings/Index">Back to List</a>
